# Compiled class files
*.class

# Log files
*.log

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files
*.jar
*.war
*.ear

# Virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*

# Maven specific files
target/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties

# Gradle specific files
.gradle/
build/

# Eclipse specific files
.classpath
.project
.settings/
bin/

# IntelliJ IDEA specific files
.idea/
*.iml
*.ipr
*.iws
out/

# NetBeans specific files
nbproject/private/
build/
nbbuild/
dist/
nbdist/
.nb-gradle/

# VS Code specific files
.vscode/

# MacOS specific files
.DS_Store

# Windows specific files
Thumbs.db
